In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")
df = df.replace(",", ".", regex=True)

In [35]:
def suma_digitos(valor):
    return sum(int(digito) for digito in str(valor) if digito.isdigit())

In [36]:
df['n'] = df['Número de documento'].apply(suma_digitos)

In [37]:
def totall(n):
    x = 105
    tot = n * x**2 + 2 * x + 23
    
    x = 100
    tota = n * x**2 + 2 * x + 23
    
    total = (tot - tota) / 5
    
    return round(total, 2)

In [38]:
df["P1"] = df["n"].apply(totall)

In [39]:
def C(x, n):
    return n * x**2 + 2*x + 23

def cp2(n):
    return round(C(101, n) - C(100, n), 2)

In [40]:


df["P2"] = df["n"].apply(cp2)

In [41]:
df = df.drop(columns=["CP2", "Calificacion2"], errors="ignore")

In [42]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,P1,P2
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,7238
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,8645
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,8444
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,4826
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5429
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,6233
6,1000794960,7382.000,7238.000,2.000,36,7382.0,7238
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,7439
8,1104224296,6356.600,6233.000,62.000,31,6357.0,6233
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,8243
10,1025062924,6.357,6.233,6.202,31,6357.0,6233
11,1028485597,10047.000,9851.000,2.000,49,10047.0,9851
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,7037
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,6233
14,1140914656,7587.000,7439.000,76.000,37,7587.0,7439
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,5630
16,1193231792,175.000,152.000,1.000,38,7792.0,7640
17,1077228324,7382.000,7238.000,366.820,36,7382.0,7238