In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("/workspaces/Proyecto_Final_Grupo_7/Titanic/test.csv")

In [24]:
df.columns = df.columns.str.strip().str.lower()

In [26]:
print(df.columns.tolist())

['passengerid', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked']

In [ ]:
df.groupby('pclass')['fare'].sum()
df.groupby(['embarked', 'sex'])['fare'].mean()

embarked  sex
C         female    92.003230
          male      49.651077
Q         female    12.424654
          male       9.357386
S         female    40.719651
          male      22.158332
Name: fare, dtype: float64

In [28]:
df.groupby('pclass')['fare'].sum()

pclass
1    10087.9918
2     2064.7957
3     2703.7501
Name: fare, dtype: float64

In [29]:
df.groupby(['embarked', 'sex'])['fare'].mean()

embarked  sex
C         female    92.003230
          male      49.651077
Q         female    12.424654
          male       9.357386
S         female    40.719651
          male      22.158332
Name: fare, dtype: float64